@charset "UTF-8";
/**
*
*	Name:			Monta Icons Font
*	Version:		1.4.1
*	Author:			Farshad Sadri (farshadsadri.com)
*	Updated on:		July 16, 2018
*	Created on:		Nov 14, 2017
*	Website:		http://monta.ir
*	License:		Apache License Version 2.0
*/
@font-face {
  font-family: 'monta-icons';
  src: url("fonts/monta-icons.eot?1.4.1");
  src: url("fonts/monta-icons.eot?1.4.1#iefix") format("embedded-opentype"), url("fonts/monta-icons.ttf?1.4.1") format("truetype"), url("fonts/monta-icons.woff?1.4.1") format("woff"), url("fonts/monta-icons.svg?1.4.1#monta-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.mi, [class^="mi-"], [class*=" mi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'monta-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .mi.is-1x, [class^="mi-"].is-1x, [class*=" mi-"].is-1x {
    font-size: 1rem; }
  .mi.is-1-5x, [class^="mi-"].is-1-5x, [class*=" mi-"].is-1-5x {
    font-size: 1.5rem; }
  .mi.is-2x, [class^="mi-"].is-2x, [class*=" mi-"].is-2x {
    font-size: 2rem; }
  .mi.is-3x, [class^="mi-"].is-3x, [class*=" mi-"].is-3x {
    font-size: 3rem; }
  .mi.is-4x, [class^="mi-"].is-4x, [class*=" mi-"].is-4x {
    font-size: 4rem; }
  .mi.is-pre, [class^="mi-"].is-pre, [class*=" mi-"].is-pre {
    margin-left: 0.5rem; }
  .mi.has-spin, [class^="mi-"].has-spin, [class*=" mi-"].has-spin {
    -webkit-animation: has-spin 1.5s infinite linear;
    animation: has-spin 1.5s infinite linear; }
  .mi .has-pulse, [class^="mi-"] .has-pulse, [class*=" mi-"] .has-pulse {
    -webkit-animation: has-spin 900ms infinite steps(8);
    animation: has-spin 900ms infinite steps(8); }
  .mi .is-pulse, [class^="mi-"] .is-pulse, [class*=" mi-"] .is-pulse {
    position: relative;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    border-radius: 50%;
    color: #ff470f;
    -webkit-animation: is-pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: is-pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    /*color: white;*/
    padding: 0.4em; }
    .mi .is-pulse:hover, [class^="mi-"] .is-pulse:hover, [class*=" mi-"] .is-pulse:hover {
      -webkit-animation: none;
      animation: none; }

@-webkit-keyframes has-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes has-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes is-pulse {
  to {
    box-shadow: 0 0 0 1em rgba(232, 76, 61, 0); } }
@keyframes is-pulse {
  to {
    box-shadow: 0 0 0 1em rgba(232, 76, 61, 0); } }
.mi-monta:before {
  content: ""; }

.mi-mini-monta:before {
  content: ""; }

.mi-mini-monta-filled:before {
  content: ""; }

.mi-minus:before {
  content: ""; }

.mi-plus:before {
  content: ""; }

.mi-cross:before {
  content: ""; }

.mi-checked-small:before {
  content: ""; }

.mi-checked-small-filled:before {
  content: ""; }

.mi-check:before {
  content: ""; }

.mi-heart:before {
  content: ""; }

.mi-report:before {
  content: ""; }

.mi-heart-filled:before {
  content: ""; }

.mi-bookmark:before {
  content: ""; }

.mi-bookmark-filled:before {
  content: ""; }

.mi-edit:before {
  content: ""; }

.mi-delete:before {
  content: ""; }

.mi-print:before {
  content: ""; }

.mi-share:before {
  content: ""; }

.mi-sort-desc:before {
  content: ""; }

.mi-sort-asc:before {
  content: ""; }

.mi-star:before {
  content: ""; }

.mi-star-filled:before {
  content: ""; }

.mi-star-half:before {
  content: ""; }

.mi-trash:before {
  content: ""; }

.mi-trash-filled:before {
  content: ""; }

.mi-down:before {
  content: ""; }

.mi-left:before {
  content: ""; }

.mi-right:before {
  content: ""; }

.mi-up:before {
  content: ""; }

.mi-down-filled:before {
  content: ""; }

.mi-left-filled:before {
  content: ""; }

.mi-right-filled:before {
  content: ""; }

.mi-up-filled:before {
  content: ""; }

.mi-arrow-down:before {
  content: ""; }

.mi-arrow-up:before {
  content: ""; }

.mi-arrow-left:before {
  content: ""; }

.mi-arrow-right:before {
  content: ""; }

.mi-frame:before {
  content: ""; }

.mi-search:before {
  content: ""; }

.mi-zoom-in:before {
  content: ""; }

.mi-zoom-out:before {
  content: ""; }

.mi-sort-down:before {
  content: ""; }

.mi-sort-up:before {
  content: ""; }

.mi-hamburger:before {
  content: ""; }

.mi-home:before {
  content: ""; }

.mi-home-filled:before {
  content: ""; }

.mi-login:before {
  content: ""; }

.mi-logout:before {
  content: ""; }

.mi-instagram:before {
  content: ""; }

.mi-telegram:before {
  content: ""; }

.mi-aparat:before {
  content: ""; }

.mi-twitter:before {
  content: ""; }

.mi-facebook:before {
  content: ""; }

.mi-linkedin:before {
  content: ""; }

.mi-cog:before {
  content: ""; }

.mi-dots:before {
  content: ""; }

.mi-date-year:before {
  content: ""; }

.mi-report-filled:before {
  content: ""; }

.mi-monta-run-filled:before {
  content: ""; }

.mi-monta-run:before {
  content: ""; }

.mi-stats:before {
  content: ""; }

.mi-question-mark:before {
  content: ""; }

.mi-play:before {
  content: ""; }

.mi-undo:before {
  content: ""; }

.mi-retry:before {
  content: ""; }

.mi-notes:before {
  content: ""; }

.mi-notes-filled:before {
  content: ""; }

.mi-fame-filled:before {
  content: ""; }

.mi-fame:before {
  content: ""; }

.mi-gift:before {
  content: ""; }

.mi-achievement:before {
  content: ""; }

.mi-income:before {
  content: ""; }

.mi-wallet:before {
  content: ""; }

.mi-exam:before {
  content: ""; }

.mi-questions:before {
  content: ""; }

.mi-summary:before {
  content: ""; }

.mi-book:before {
  content: ""; }

.mi-bookmark-2:before {
  content: ""; }

.mi-bookmark-2-filled:before {
  content: ""; }

.mi-muscle:before {
  content: ""; }

.mi-muscle-filled:before {
  content: ""; }

.mi-watched:before {
  content: ""; }

.mi-seen:before {
  content: ""; }

.mi-share-2:before {
  content: ""; }

.mi-message:before {
  content: ""; }

.mi-compose:before {
  content: ""; }

.mi-send:before {
  content: ""; }

.mi-emoji:before {
  content: ""; }

.mi-cameera:before {
  content: ""; }

.mi-clip:before {
  content: ""; }

.mi-megaphone:before {
  content: ""; }

.mi-timer:before {
  content: ""; }

.mi-clock:before {
  content: ""; }

.mi-hourglass:before {
  content: ""; }

.mi-calendar:before {
  content: ""; }

.mi-bell:before {
  content: ""; }

.mi-pie:before {
  content: ""; }

.mi-chart:before {
  content: ""; }

/*# sourceMappingURL=montaicons.css.map */
