@font-face {
  font-family: 'touriwall-icons';
  src:
    url('fonts/touriwall-icons.ttf?rdvvyx') format('truetype'),
    url('fonts/touriwall-icons.woff?rdvvyx') format('woff'),
    url('fonts/touriwall-icons.svg?rdvvyx#touriwall-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon, i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'touriwall-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\1f4f7";
}
.icon-tag:before {
  content: "\1f3fb";
}
.icon-time:before {
  content: "\1f552";
}
.icon-email:before {
  content: "\2709";
}
.icon-payment:before {
  content: "\1f45b";
}
.icon-counter:before {
  content: "\1f60e";
}
.icon-instagram:before {
  content: "\1f5bc";
}
.icon-twitter:before {
  content: "\1f54a";
}
.icon-pinterest:before {
  content: "\70";
}
.icon-aparat:before {
  content: "\1f4fd";
}
.icon-linkedin:before {
  content: "\69";
}
.icon-telegram:before {
  content: "\74";
}
.icon-alert:before {
  content: "\26a0";
}
.icon-arrow-down:before {
  content: "\2b07";
}
.icon-arrow-left:before {
  content: "\2b05";
}
.icon-arrow-right:before {
  content: "\27a1";
}
.icon-arrow-up:before {
  content: "\2b06";
}
.icon-bottom:before {
  content: "\1f53b";
}
.icon-bottom-left:before {
  content: "\2199";
}
.icon-bottom-right:before {
  content: "\2198";
}
.icon-bus:before {
  content: "\1f68c";
}
.icon-check:before {
  content: "\2714";
}
.icon-success:before {
  content: "\2714";
}
.icon-failure:before {
  content: "\274c";
}
.icon-cross:before {
  content: "\274c";
}
.icon-date-day:before {
  content: "\1f4c5";
}
.icon-date-days:before {
  content: "\1f5d3";
}
.icon-date-range:before {
  content: "\2194";
}
.icon-day:before {
  content: "\2600";
}
.icon-depart-ariplane:before {
  content: "\1f6e9";
}
.icon-departure:before {
  content: "\1f4cd";
}
.icon-filters:before {
  content: "\2699";
}
.icon-grid:before {
  content: "\1f532";
}
.icon-heart:before {
  content: "\2665";
}
.icon-landing:before {
  content: "\1f6ec";
}
.icon-list:before {
  content: "\25fc";
}
.icon-login:before {
  content: "\1f44d";
}
.icon-logout:before {
  content: "\1f643";
}
.icon-minus:before {
  content: "\2796";
}
.icon-money:before {
  content: "\1f4b5";
}
.icon-night:before {
  content: "\1f319";
}
.icon-plus:before {
  content: "\2795";
}
.icon-return-ariplaine:before {
  content: "\2708";
}
.icon-search:before {
  content: "\1f50d";
}
.icon-star-full:before {
  content: "\1f31f";
}
.icon-star-half-left:before {
  content: "\1f320";
}
.icon-star-half-right:before {
  content: "\2b50";
}
.icon-star-outline:before {
  content: "\2747";
}
.icon-destination:before {
  content: "\1f3f4";
}
.icon-takeoff:before {
  content: "\1f6eb";
}
.icon-top:before {
  content: "\1f53c";
}
.icon-top-left:before {
  content: "\1f448";
}
.icon-top-right:before {
  content: "\1f449";
}
.icon-touriwall:before {
  content: "\1f576";
}
.icon-train:before {
  content: "\1f686";
}
.icon-username:before {
  content: "\1f464";
}
.icon-password:before {
  content: "\1f512";
}
