$icon-font-family: "touriwall-icons" !default;
$icon-font-path: "fonts" !default;

$icon-camera: "\1f4f7";
$icon-tag: "\1f3fb";
$icon-time: "\1f552";
$icon-email: "\2709";
$icon-payment: "\1f45b";
$icon-counter: "\1f60e";
$icon-instagram: "\1f5bc";
$icon-twitter: "\1f54a";
$icon-pinterest: "\70";
$icon-aparat: "\1f4fd";
$icon-linkedin: "\69";
$icon-telegram: "\74";
$icon-alert: "\26a0";
$icon-arrow-down: "\2b07";
$icon-arrow-left: "\2b05";
$icon-arrow-right: "\27a1";
$icon-arrow-up: "\2b06";
$icon-bottom: "\1f53b";
$icon-bottom-left: "\2199";
$icon-bottom-right: "\2198";
$icon-bus: "\1f68c";
$icon-check: "\2714";
$icon-success: "\2714";
$icon-failure: "\274c";
$icon-cross: "\274c";
$icon-date-day: "\1f4c5";
$icon-date-days: "\1f5d3";
$icon-date-range: "\2194";
$icon-day: "\2600";
$icon-depart-ariplane: "\1f6e9";
$icon-departure: "\1f4cd";
$icon-filters: "\2699";
$icon-grid: "\1f532";
$icon-heart: "\2665";
$icon-landing: "\1f6ec";
$icon-list: "\25fc";
$icon-login: "\1f44d";
$icon-logout: "\1f643";
$icon-minus: "\2796";
$icon-money: "\1f4b5";
$icon-night: "\1f319";
$icon-plus: "\2795";
$icon-return-ariplaine: "\2708";
$icon-search: "\1f50d";
$icon-star-full: "\1f31f";
$icon-star-half-left: "\1f320";
$icon-star-half-right: "\2b50";
$icon-star-outline: "\2747";
$icon-destination: "\1f3f4";
$icon-takeoff: "\1f6eb";
$icon-top: "\1f53c";
$icon-top-left: "\1f448";
$icon-top-right: "\1f449";
$icon-touriwall: "\1f576";
$icon-train: "\1f686";
$icon-username: "\1f464";
$icon-password: "\1f512";

