$icomoon-font-path: "fonts" !default;

$mi-monta: \e900;
$mi-mini-monta: \e901;
$mi-mini-monta-filled: \e902;
$mi-minus: \e90e;
$mi-plus: \e90f;
$mi-cross: \e90a;
$mi-checked-small: \e958;
$mi-checked-small-filled: \e959;
$mi-check: \e909;
$mi-heart: \e90b;
$mi-report: \e910;
$mi-heart-filled: \e90c;
$mi-bookmark: \e911;
$mi-bookmark-filled: \e912;
$mi-edit: \e913;
$mi-delete: \e914;
$mi-print: \e915;
$mi-share: \e916;
$mi-sort-desc: \e917;
$mi-sort-asc: \e918;
$mi-star: \e919;
$mi-star-filled: \e91a;
$mi-star-half: \e91b;
$mi-trash: \e91c;
$mi-trash-filled: \e94e;
$mi-down: \e903;
$mi-left: \e94f;
$mi-right: \e950;
$mi-up: \e951;
$mi-down-filled: \e90d;
$mi-left-filled: \e952;
$mi-right-filled: \e953;
$mi-up-filled: \e954;
$mi-arrow-down: \e955;
$mi-arrow-up: \e956;
$mi-arrow-left: \e904;
$mi-arrow-right: \e957;
$mi-frame: \e905;
$mi-search: \e906;
$mi-zoom-in: \e907;
$mi-zoom-out: \e908;
$mi-sort-down: \e95a;
$mi-sort-up: \e95b;
$mi-hamburger: \e91d;
$mi-home: \e91e;
$mi-home-filled: \e91f;
$mi-login: \e920;
$mi-logout: \e921;
$mi-instagram: \e922;
$mi-telegram: \e923;
$mi-aparat: \e924;
$mi-twitter: \e925;
$mi-facebook: \e926;
$mi-linkedin: \e927;
$mi-cog: \e928;
$mi-dots: \e929;
$mi-date-year: \e92a;
$mi-report-filled: \e92b;
$mi-monta-run-filled: \e92c;
$mi-monta-run: \e92d;
$mi-stats: \e92e;
$mi-question-mark: \e92f;
$mi-play: \e930;
$mi-undo: \e931;
$mi-retry: \e932;

